doctype html
html(class="no-js", lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title= title
    meta(name="description", description=description)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="css/style.css")
    link(rel="stylesheet" type="text/css" href="css/MutiBarChart.css")
    link(href="lib/bootstrap.css",rel="stylesheet")
    link(rel="stylesheet" ,type="text/css" ,href="css/datatables.css")
    link(rel="stylesheet" ,type="text/css" ,href="css/datatable.css")
    link(rel="stylesheet" ,type="text/css" ,href="css/tablestyle.css")
    link(rel="stylesheet" ,type="text/css" ,href="css/timeSelect.css")
    link(rel="stylesheet" ,type="text/css" ,href="css/rankstyle.css",media="all" )
    link(rel="stylesheet",href="css/timestyle.css",media="screen",type="text/css")
    link(rel="stylesheet",type="text/css",href="css/component.css")
    script(src = "lib/Chart.js")
    script(src = "lib/jquery.js")
    script(src="js/chartControl.js")
    script(src="lib/highcharts.js")
    script(src="lib/exporting.js")

  body
    .topbar
      .topbody
        a.title SMDA
        ul.toplist
          li(id='1')
            a.name 历史数据
          li(id='2')
            a.name 未来趋势
        ul(class=["nav","navbar-nav","navbar-right","user-nav"])
          li(class=["dropdown","profile_menu"])
            a(href="#",class="dropdown-toggle",data-toggle="dropdown")
              span.name 非常5+1
            ul.dropdown-menu
              li
                a 我的账号
              li
                a 联系我们
              li
                a 退出登录
    section(class="")
      nav(class="nav-circlepop")
        a(class="prev",href="/item1")
          span(class="icon-wrap",id="last")
        a(class="next",href="/item3")
          span(class="icon-wrap",id="next")
    ul.nav_tabs#ul1
      li(id='tag1',class='normal') 销售趋势
      li(id='tag2',class='normal') 类目趋势
      li(id='tag3',class='normal') 类目分布
      li(id='tag4',class='active') 品牌分布
    div(class='container1',id='container1')(style='display:inline-block')
      div(class=['contain_group4'])(style='display:inline-block')
        div(class='canvas_contain col-lg-10',id='barCanvas')
          .contain_title
            span 品牌销售额
          -var year = ['2012','2013','2014','2015']
          -var month = ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
          label#yearSelect.yearSelect
            select#yearselection.selection
              each itemy in year
                option(value=itemy) #{itemy}
              option(selected="selected") 2016
          label#monthSelect.yearSelect
            select#monthselection.selection
              each itemm in month
                option(value=itemm) #{itemm}
          #submit.submitBtn 生成
          #myBarChart
        div(class='canvas_contain col-lg-10',id='Dchart')(style='display:none')
          .contain_title
            span 品牌占比情况
          #svg_contain.col-lg-10
        div(class='canvas_contain col-lg-10',id='brand_table')(style='display:none')
          .row
            .col-md-12
              .block-flat
                .header
                  h3 品牌排行

                .content
                  .table-responsive
                    table(class=['table', 'table-bordered'],id='datatable4')
                      thead
                        tr
                          th 品牌
                          th 销售额
                          th 占比
                      tbody#tbody4
                        tr(class=["odd", "gradeX"])
                          td vinda
                          td 49.9
                          td 4.98%
                        tr(class=['even', 'gradeC'])
                          td walch
                          td 50.98
                          td 4.07%
                        tr(class=["odd", "gradeX"])
                          td 清风
                          td 46.09
                          td 3.67%
                        tr(class=['even', 'gradeC'])
                          td 遇见香芬
                          td 32.6
                          td 2.60%
                        tr(class=["odd", "gradeX"])
                          td 心心相印
                          td 18.62
                          td 2.28%
                        tr(class=['even', 'gradeC'])
                          td 透蜜
                          td 20.1
                          td 1.16%
                        tr(class=["odd", "gradeX"])
                          td 洁柔
                          td 19.74
                          td 1.57%
                        tr(class=['even', 'gradeC'])
                          td 检察官
                          td 18.44
                          td 1.47%
                        tr(class=["odd", "gradeX"])
                          td 苏菲
                          td 18.06
                          td 1.44%
                        tr(class=['even', 'gradeC'])
                          td 长耀堂
                          td 16.89
                          td 1.35%
                        tr(class=["odd", "gradeX"])
                          td 蓝月亮
                          td 16.85
                          td 1.34%
                        tr(class=['even', 'gradeC'])
                          td 金泰康
                          td 12.28
                          td 0.98%
                        tr(class=["odd", "gradeX"])
                          td 拉芳
                          td 11.30
                          td 0.9%
                        tr(class=['even', 'gradeC'])
                          td 沙宣
                          td 11.26
                          td 0.9%
                        tr(class=["odd", "gradeX"])
                          td 舒客
                          td 10.53
                          td 0.84%
                        tr(class=['even', 'gradeC'])
                          td 海飞丝
                          td 10.4
                          td 0.83%

      div(class=['contain_group3'])(style='display:none')
        div(class='canvas_contain col-lg-10',id='svgChart')
          .contain_title
            span 类目销售额
          label#yearSelect2.yearSelect
            select#yearselection2.selection
              each itemy2 in year
                option(value=itemy2) #{itemy2}
              option(selected="selected") 2016
          label#monthSelect2.yearSelect
            select#monthselection2.selection
              each itemm2 in month
                option(value=itemm2) #{itemm2}
          #submit2.submitBtn 生成
          div(id='main' style='width: 900px;height:400px;')
        div(class='canvas_contain col-lg-10',id='PieCanvas')(style='display:none')
          .contain_title
            span 类目占比情况
          .twoChart
            .twoChart1
              canvas#myPieChart
            .twoChart2
              .row
                .col-md-12
                  .block-flat2
                    .header
                      h3 类目排行

                    .content
                      .table-responsive
                        table(class=['table', 'table-bordered'],id='datatable3')
                          thead
                            tr
                              th 类目
                              th 销售额
                              th 占比
                          tbody#tbody3
                            tr(class=["odd", "gradeX"])
                              td 洗发沐浴/个人清洁
                              td 635333980
                              td 40.9%

                            tr(class=['even', 'gradeC'])
                              td 纸品/湿巾
                              td 297083785
                              td 19.12%

                            tr(class=["odd", "gradeA"])
                              td 卫生巾/护垫/成人尿裤
                                td 141679615
                                td 9.12%
                            tr(class=['even', 'gradeC'])
                              td 衣物清洁剂/护理剂
                                td 130143905
                                td 8.38%

                            tr(class=["odd", "gradeA"])
                              td 家庭环境清洁剂
                              td 115280370
                              td 7.43%
                            tr(class=['even', 'gradeC'])
                              td 室内除臭/芳香用品
                              td 79968760
                              td 5.15%

                            tr(class=["odd", "gradeA"])
                              td 家私/皮具护理品
                              td 70457945
                              td 4.54%
                            tr(class=['even', 'gradeC'])
                              td 香熏用品
                              td 56205570
                              td 3.62%

                            tr(class=["odd", "gradeA"])
                              td 驱虫用品
                              td 27251910
                              td 1.75%
                            tr(class=['even', 'gradeC'])
                              td 其他
                              td 0
                              td 0

      div(class=['contain_group2'])(style='display:none')
        div(class='canvas_contain col-lg-10',id='categoryTendency')

          .contain_title
            span 各类目销售量占比及变化趋势
          label#yearSelect3.yearSelect
            select#yearselection3.selection
              each itemy3 in year
                option(value=itemy3) #{itemy3}
              option(selected="selected") 2016
          #submit3.submitBtn 生成
          div(id='container')
        div(class='canvas_contain col-lg-10',id='cbrand_table')(style='display:none')
          .row
            .col-md-12
              .block-flat
                .header
                  h3 各类目占比详情
                .content
                  .table-responsive
                    table(class=['table', 'table-bordered'],id='datatable2')
                      thead
                        tr
                          th 类目
                          th 1月
                          th 2月
                          th 3月
                          th 4月
                          th 5月
                          th 6月
                          th 7月
                          th 8月
                          th 9月
                          th 10月
                          th 11月
                          th 12月
                      tbody#tbody2


      div(class=['contain_group1'])(style='display:none')
        div(class='canvas_contain col-lg-10',id='fristCanvas')
          .contain_title
            span 一年之中产品销售变化趋势
          label#yearSelect4.yearSelect
            select#yearselection4.selection
              each itemy4 in year
                option(value=itemy4) #{itemy4}
              option(selected="selected") 2016
          label#monthSelect4.yearSelect
            select#monthselection4.selection
              each itemm4 in month
                option(value=itemm4) #{itemm4}
          #submit4.submitBtn 生成
          div(class='canvas_contain col-lg-6',id='container111')
        div(class='canvas_contain col-lg-10',id='sales_table')(style='display:none')
          .row
            .col-md-12
              .block-flat
                .header
                  h3 各月销售额

                .content
                  .table-responsive
                    table(class=['table', 'table-bordered'],id='datatable1')
                      thead
                        tr
                          th 月份
                          th 销售额
                          th 占比
                      tbody#tbody1
                        tr(class=["odd", "gradeX"])
                          td 1月
                          td 1553405840
                          td 6.63%

                        tr(class=['even', 'gradeC'])
                          td 2月
                          td 1017550970
                          td 4.34%

                        tr(class=["odd", "gradeX"])
                          td 3月
                          td 1987857760
                          td 8.49%

                        tr(class=['even', 'gradeC'])
                          td 4月
                          td 1837843595
                          td 7.84%
                        tr(class=["odd", "gradeX"])
                          td 5月
                          td 2204432375
                          td 9.41%

                        tr(class=['even', 'gradeC'])
                          td 6月
                          td 2298639535
                          td 9.81%
                        tr(class=["odd", "gradeX"])
                          td 7月
                          td 2188716450
                          td 9.34%

                        tr(class=['even', 'gradeC'])
                          td 8月
                          td 2209583300
                          td 9.43%
                        tr(class=["odd", "gradeX"])
                          td 9月
                          td 2555400675
                          td 10.91%

                        tr(class=['even', 'gradeC'])
                          td 10月
                          td 2568716715
                          td 10.97%
                        tr(class=["odd", "gradeX"])
                          td 11月
                          td 2991361230
                          td 12.77%

                        tr(class=['even', 'gradeC'])
                          td 12月
                          td 0
                          td 0


    div(class='container2',id='container2')
      .contain_block1
        .contain_map
          div(id="scattermap",style="height:400px")
        .contain_time
          #wrapper
            form
              select(class='custom-date',name='select')
                option(value='1') 1 Days
                option(value='3') 3 Days
                option(value='6') 6 Days
                option(value='') custom Days
        .contain_weather
          .row
            div(class=['col-md-3', 'col-sm-6'])
              div(class=['fd-tile', 'tile-green', 'weather'],id='sky')
                canvas#skychoose(width="100",height="100")
                h2#wcity 上海
                h1#wvalue 9.5°C
      .contain_block2
        .contain_rank
          div(class=['col-md-6','left-about']) <!-- 外框，图表框宽度暂且设定的是90%，具体看效果再调 -->
            .sales_ranking1
              h4 预测销售额排行
              #skills
                progress(value="50.71" max="100" id='rank_value1')
                span#rank_name1 洗发沐浴
                p#rank_num1 50.71%
                progress(value="10.19" max="100" id='rank_value2')
                span#rank_name2 卫生巾/护垫/成人尿裤
                p#rank_num2 10.19%
                progress(value="8.32" max="100" id='rank_value3')
                span#rank_name3 家私/皮具护理品
                p#rank_num3 8.32%
                progress(value="7.53" max="100" id='rank_value4')
                span#rank_name4 香薰用品
                p#rank_num4 7.53%
                progress(value="6.42" max="100" id='rank_value5')
                span#rank_name5 纸巾/湿巾
                p#rank_num5 6.42%
                progress(value="6.01" max="100" id='rank_value6')
                span#rank_name6 家庭环境清洁剂
                p#rank_num6 6.01%
                progress(value="4.03" max="100" id='rank_value7')
                span#rank_name7 驱虫用品
                p#rank_num7 4.03%
                progress(value="3.57" max="100" id='rank_value8')
                span#rank_name8 衣物清洁剂/护理剂
                p#rank_num8 3.57%
                progress(value="3.22" max="100" id='rank_value9')
                span#rank_name9 室内除臭/芳香用品
                p#rank_num9 3.22%

  script(src="js/choose.js")
  script(src="lib/timejquery.js")
  script(src="js/index.js")
  script(src="lib/echarts-all-3.js")
  script(src="lib/dataTool.min.js")
  script(src="lib/bootstrap.min.js")
  script(src="js/pieChart.js")
  script(src="lib/echarts.min.js")
  script(src="lib/d3.min.js")
  script(src="js/MutiBarChart.js")
  script(src="js/tablecolor.js")
  script(src="lib/jquery.jeditable.mini.js")
  script(src="lib/jquery.datatables.min.js")
  script(src="lib/datatables.js")
  script(src="js/datatable.js")
  script(src="js/dynamic.js")
  script(src="js/click.js")
  script(src="js/barChart.js")
  script(src="js/PercentagePile.js")
  script(src="js/fullwidthchart.js")
  script(src="js/weather.js")
  script(src="lib/jPushMenu.js")
  script(src="lib/jquery.cookie.js")
  script(src="lib/jquery.nanoscroller.js")
  script(src="libe/jquery.sparkline.min.js")
  script(src="lib/jquery-ui.js")
  script(src="lib/jquery.gritter.js")
  script(src="lib/core.js")
  script(src="lib/skycons.js")
  script(src="js/choose.js")
  script(src="lib/timejquery.js")
  script(src="js/index.js")
  script(src="lib/bootstrap.min.js")
  script(src="js/pieChart.js")
  script(src="lib/echarts.min.js")
  script(src="lib/d3.min.js")
  script(src="js/MutiBarChart.js")
  script(src="js/tablecolor.js")
  script(src="lib/jquery.jeditable.mini.js")
  script(src="lib/jquery.datatables.min.js")
  script(src="lib/datatables.js")
  script(src="js/datatable.js")
  script(src="js/dynamic.js")
  script(src="js/barChart.js")
  script(src="js/percentagepile.js")
  script(src="js/fullwidthchart.js")
  script(src="js/weather.js")
  script(src="lib/jPushMenu.js")
  script(src="lib/jquery.cookie.js")
  script(src="lib/jquery.nanoscroller.js")
  script(src="libe/jquery.sparkline.min.js")
  script(src="lib/jquery-ui.js")
  script(src="lib/jquery.gritter.js")
  script(src="lib/core.js")
  script(src="lib/skycons.js")
  script(src="lib/echarts-all-3.js")
  script(src="lib/dataTool.min.js")
  script(src="lib/china.js")
  script(src="lib/world.js")
  script(src="lib/api")
  script(src="lib/bmap.min.js")
  script(src="js/ScatterMap.js")







